.form-card {
  width:300px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  
}

.form-row {
  border: 1px solid green;
  display: block;
  width: auto;
  height: 40px;
  margin: 5px;
}

.preview {
  width: 150px;
  height: 100px;
}

